* {
    margin: 0px;
    padding: 0px;
}
header {
    display: flex;
    justify-content: space-around;
    height: 8vh;
    align-items: center;
}
nav {
    width: 60%;
    display: flex;
    align-items: center;

}
.header-logo {

    color: #000000;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    position: relative;
    left:150px;

}
.nav-menu {
    width: 450px;
    display: flex;
    place-content: space-around;
    background-color: white;

}
.nav-menu li {
    list-style: none;
}
.nav-menu li a {
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 17px;
    font-family: 'Arial', sans-serif;
    position: relative;
    right:-1200px;
    color: #000000;

}

.img-logo {
    position: relative;
    left:-1000px;
    height: 80%;
    width: 8%;


}
/* Burger */
.burger {
    cursor: pointer;
    display: none;

}
.burger .line {
    width: 20px;
    height: 4px;
    background-color: #1d0b7d;
    margin: 1px;

}
/* Responsive Web */
@media screen and (max-width: 700px) {
    * {
        /*border: solid 1px red;*/    }
    .burger {
        display: block;
    }
    .nav-menu {
        flex-direction: column;
        position: absolute;
        right: 200px;
        width: 50%;
        top: 8vh;
        height: 92vh;
        margin-right: 100px;
    }
    .nav-menu li {
        margin-left: 100px;
        margin-right: 100px;
    }
    nav {

    }
}

