nav {
    width: 60%;
    display: flex;
    align-items: center;

}
img {
    width: 100%;
    position: relative;
}

.img-app{
    width: 500px;
    height: 500px;
    position: absolute;
top:20%;
   left:15%;
}
.texto-fondo{
   position: absolute;
    font-size: 70px;
    top:40%;
    right:5%;
    color: #ffffff;
    text-align: center;

}
.button-Inicia-ya{
    position: absolute;
    background: #011526;
    display:inline-block;
    front-size:1.25em;
    margin: 20px;
    padding: 10px 0px;
    text-align: center;
    width: 200px;
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    top:58%;
    right:17%;

}
.button-testimonio{
    position: absolute;
    background: #011526;
    display:inline-block;
    front-size:1.25em;
    margin: 20px;
    padding: 15px 0px;
    text-align: center;
    width: 400px;
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    top:105%;
    left:17%;
}
.button-beneficio {
    position: absolute;
    background: #011526;
    display: inline-block;
    front-size: 1.25em;
    margin: 20px;
    padding: 15px 0px;
    text-align: center;
    width: 400px;
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    top:105%;
    right:17%;

}